* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

html {

    height: 100vh;
    overflow: hidden;

}

Body {
    background: linear-gradient(90deg,rgb(234, 96, 247) 30%,rgb(147, 5, 160) ,blue);

    

}

.links {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
}

.links a {
    text-decoration: none;
    color: white;

}

.links a:hover {
    color: #0ea7e4;
}

.space {
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin: 20px auto -160px;
    color: aqua;
    font-size: 100px;
    font-weight: 600;

}

form {
    display: flex;
    flex-flow:column;
    margin: 300px;
}

input, [type="text"] {
    margin: auto;
    border: 0.5px solid #4a4a4a;
    width: 45vw;
    height:7vh;
    border-radius: 100px;
    font-size: 18px;
    background-color: #fafdfb;
    color:rgb(8, 240, 240);
    padding-left: 20px;
}


input, [type="text"] :hover {
    background-color: #11b9fc;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0.8);
}


input, [type="submit"] {
    margin: 20px auto;
    font-size: 25px;
    padding: 10px;
    background-color: #f05186;
    color:hsl(240, 100%, 99%);
    border: none;
    border-radius: 35px;

}
input, [type="submit"] :hover {
    border: 0.5px solid #08c1f0;

}

#search {
    margin-left:145px;

    
}

.body {
    background-color:white ;

}

.adv-link {
    color:red;
    font-weight:600;

}

.adv-link :hover {
    color:blue;
    
    
}

.adv-search {
    margin: 0px;
    padding-right: 1050px ;
    font-size: 30px;
    font-weight: 400;
    color: white;

}

hr {
    margin-top: 30px;
    border: 1px solid 9999999;

}

h2 {
    color:#1a1a1a;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-right: 50px;
    font-size:  16px;
    font-weight: 200;
    
    
}

.form {
    margin: 50px auto;
    padding-left: 50px;

}

#words,
 #phrase,
 #any,
 #none {
    border-radius: 0;
    background-color: #fff;
    color:#1a1a1a;
    height: 5vh;
    margin-top: -20px;
    margin-left: 200px;
    margin-bottom: 20px;


}

#adv-search{
    color:#0492c2;
    font-weight: 600;
    font-size: 10px;
    width: 11%;
    margin-top: auto;
    margin-left: 647px ;
    border-radius: 0;
}
